.App {

  text-align: left;
}

.App-logo {
  align-self: flex-start;
}

.App-cost {
  background: #ffffff;
}

a {
  text-decoration: none;
  font-style: normal;


}

li {
  list-style: none;

}

ul {
  padding-left: 0;
}