.Foot {
    background: var(--main);
} 
.App-footer {
    display: flex;
    max-width: 71.56rem;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 37.375rem;
    margin: auto;
    color: var(--textWhite);
    font-size: 1rem;
    flex-wrap: wrap;
}

.Footer-section {
    width: 16rem;
    margin-top: 8rem;
}

.Footer-section h2 {
    margin-bottom: 6rem;
}

.Footer-logo {
    width: 5.9rem;
}

.Logo-text {
    margin-bottom: 4rem;
}

.Footer-icon {
    margin: 0.5rem;
    padding: 0.5rem;
    border: 3px solid var(--textWhite);
    border-radius: 50%;
}

.Footer-text {
    color: var(--textWhite);
    display: flex;
    margin-bottom: 2rem;
}