.App-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 11.31rem auto 9.9rem auto;
    padding: 0 1.5rem;
    text-align: center;

}

.Title-question {
    font-size: 3rem;
    font-weight: 400;
}

.Title-text {
    font-size: 1rem;
    max-width: 28.31rem;

    color: var(--text);
    font-weight: 400;
}

.App-list {
    background: var(--white);
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}

.List-section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 225px;
    margin: 3rem auto;
}

.List-card {
    height: 222px;
    width: 220px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
    background: var(--textWhite);
    margin-bottom: 2.5625rem;
}

.card-img {
    margin-bottom: 1.5rem;
}
.List-btn {
    display: flex;
    align-items: center;
}
.quantity {
    
    height: 46px;
    width: 60%;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
}

.Restbtn {
    height: 50px;
    width: 41.73px;
    background: #E2E2E2;
    border: 1px solid #E2E2E2;
    border-radius: 5px 0px 0px 5px;
    font-size: 1.25rem;
}

.Addbtn {
    height: 50px;
    width: 41.73px;
    background: #E2E2E2;
    border: 1px solid #E2E2E2;
    border-radius: 0px 5px 5px 0px;
    font-size: 1.25rem;
}