.App-SummaryCost {
    margin-bottom:46.75rem ;
}
.App-cost{
    display: flex;
    flex-direction: column;
    height: 20.125rem;
    max-width: 24rem ;
    margin: auto;
    background: var(--count);
    justify-content: space-evenly;
    padding: 1rem;
}
.App-Summary {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin: 2.5rem auto;
}

.App-Costlist {
    display: flex;
    justify-content: space-between;
    background: var(--count);
}

.App-Costlist p {
    font-weight: 700;
    margin: auto 0;
}

.App-Costlist input {
    border: none;
    background-color: var(--count);
    color: black;
}