.App-footer {
    display: flex;

    max-width: 71.56rem;
    justify-content: space-around;
    align-items: center;
    min-height: 37.375rem;
    margin: auto;
    color: #FFFFFF;
    font-size: 1rem;
    flex-wrap: wrap;
}

.App-logo-footer {
    width: 5.9rem;
}

.Footer-section {
    width: 16rem;
}