.containerHeader {
  background: var(--main);
  justify-content: center;
}

.App-header {
  display: flex;
  max-width: 71.56rem;
  min-height: 12.25rem;
  align-items: center;
  margin: auto;
  justify-content: space-between;

}

.Header-logo {
  width: 6rem;

}

.Header-nav {
  display: flex;
  flex-wrap: wrap;
}

.HeaderItem {

  font-size: 1.1rem;
  margin: auto 4.05rem auto 0;
  color: var(--textWhite);
  text-decoration: none;
  padding: 1.5rem;

}