.App-SummaryCost {
    margin-bottom: 46.75rem;
}

.App-cost {
    display: flex;
    flex-direction: column;
    height: 20.125rem;
    max-width: 24rem;
    margin: auto;
    background: var(--count);
    justify-content: space-evenly;
    padding: 1rem;
}

.App-Summary {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    margin: 2.5rem auto;
}

.App-Costlist {
    display: flex;
    justify-content: space-between;
    background: var(--count);
}

.App-Costlist p {
    font-weight: 700;
    margin: auto 0;
}

.App-Costlist input {
    border: none;
    background-color: var(--count);
    color: black;
}

.App-btn {
    display: flex;
    justify-content: space-between;
    max-width: 78.5rem;
    margin: 0 auto;
    
}

.Calculate-btn {
    width: 222.21px;
    height: 61.16px;
    background: var(--main);
    border-radius: 5px;
    border: none;
    margin: 1.5rem;
}

.Reset-btn {
    width: 222.21px;
    height: 61.16px;
    background: transparent;
    border: 2px solid var(--main);
    border-radius: 5px;
    margin: 1.5rem;
}