body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  align-self: center;
  background: var(--white)
}
 :root {
  --main: #fd9255;
  --white: #f5f5f5 ;
  --textWhite: #ffffff;
  --backgroundBtn: #E2E2E2;
 }